body{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

a{
    text-decoration: none;
}

.btn{
    padding: 0;
    display: inline-block;
    height: 40px;
    line-height: 15px;
    cursor: pointer;
}

.btn a{
    display: block;
    margin: auto;
    color: #fff;
    border-radius: .25em;
}

.btn-blue a{
    min-width: 60px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    -webkit-box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.2), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.2), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    background-color: #45b6f2;
    font-weight: bold;
}

.btn-blue a:hover{
    color: #ccc;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea{
    display: inline-block;
    width: 220px;
    min-width: 150px;
    min-height: 22px;
    line-height: normal;
    color: #444;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .01);
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .01);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .01);
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: 0;
    margin: 0;
    background-color: #fff;
    overflow: visible;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid #66afe9;
}

/**
* Main menu + search bar
* ------------------------------------------
*/
#main-menu{
    height: 50px;
    background-color: #45b6f2;
    font-size: 14px;
    font-weight: bold;
}

#main-menu .menu-item{
    height: 100%;
    margin: 0 0 0 40px;
    line-height: 50px;
    float: left;
}

#main-menu .menu-item a{
    color: white;
}

#main-menu .menu-item.active a,
#main-menu .menu-item a:hover{
    color: #ccc;
}

#main-menu .menu-item.divider-vertical-blue{
    border-left: 1px solid #3aa2e3;
    border-right: 1px solid #70c5f2;
}

.search-bar-container .search-bar{
    float: left;
}

.search-bar-container .btn{
    margin-left: 10px;
}

#main-content .search-bar-container{
    display: none;
    margin-top: 10px;
    text-align: center;
}

#main-content .search-bar-container .search-bar-wrapper{
    display: inline-block;
}

#main-content .search-bar-container .search-bar-wrapper input{
    min-height: 34px;
}

@media (max-width: 800px) {
    #main-menu .search-bar-container{
        display: none;
    }

    #main-content .search-bar-container{
        display: block;
    }
}

@media (max-width: 500px) {
    #main-menu .menu-item{
        margin: 0 0 0 20px;
    }
}

@media (max-width: 350px) {
    #main-content .search-bar-container .search-bar-wrapper input{
        width: 130px;
        min-width: 130px;
    }
}
/*
* Books list view
* ---------------------------------------------------------------------
*/
.books-wrapper{
    padding: 20px;
    width: 85%;
    margin: 0 auto;
}

.books-wrapper .books .one-book-wrapper{
    float: left;
    width: 25%;
    margin-top: 50px;
}

.books-wrapper .books .one-book-wrapper:nth-child(4n+1){
    clear:left;
}

.books-wrapper .books .one-book-wrapper .one-book{
    margin: 0 auto;
    min-height: 404px;
    width: 200px;
    border: 1px solid #e7e7e7;
    padding: 10px;
    display: block;
}

.books-wrapper .books .one-book-wrapper .one-book .image-wrapper{
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.books-wrapper .books .one-book-wrapper .one-book .details > div{
    margin-top: 10px;
}

.books-wrapper .books .one-book-wrapper .one-book .details .categories-wrapper {
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
}

.books-wrapper .books .one-book-wrapper .one-book .details .title-wrapper{
    color: #1e293d;
    font-size: 16px;
    font-weight: bold;
}

.books-wrapper .books .one-book-wrapper .one-book .details .price-and-ratings .price-wrapper{
    float: left;
    color: #ff851d;
    font-weight: bold;
    font-size: 18px;
}

.books-wrapper .books .one-book-wrapper .one-book .details .price-and-ratings .ratings-wrapper{
    float: right;
}

.books-wrapper .books .one-book-wrapper .one-book .details .price-and-ratings:after{
    content: "";
    display: block;
    clear: both;
}

.books-wrapper .books .one-book-wrapper .one-book .details .price-and-ratings .ratings-wrapper{
    margin-right: 10px;
    color: #ff851d;
    font-size: 18px;
    font-weight: bold;
}

.books-wrapper .books .one-book-wrapper .one-book .details .authors-wrapper{
    color: #1e293d;
}

@media (max-width: 1200px) {
    .books-wrapper .books .one-book-wrapper{
        width: 33%;
    }

    .books-wrapper .books .one-book-wrapper:nth-child(4n+1){
        clear:none;
    }

    .books-wrapper .books .one-book-wrapper:nth-child(3n+1){
        clear:left;
    }
}

@media (max-width: 1000px) {
    .books-wrapper .books .one-book-wrapper{
        width: 50%;
    }

    .books-wrapper .books .one-book-wrapper:nth-child(3n+1){
        clear:none;
    }

    .books-wrapper .books .one-book-wrapper:nth-child(2n+1){
        clear:left;
    }

    .books-wrapper .books .one-book-wrapper .one-book{
        width: 80%;
    }
}

@media (max-width: 800px) {
    .books-wrapper{
        padding-top: 0;
    }
}

@media (max-width: 550px) {
    .books-wrapper .books .one-book-wrapper{
        width: 100%;
    }

    .books-wrapper .books .one-book-wrapper:nth-child(2n+1){
        clear:none;
    }

    .books-wrapper .books .one-book-wrapper{
        clear:left;
    }
}

/*
* Books full view
* ----------------------------------------------------------
*/

.book-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.one-book-wrapper.full{
    padding: 10px;
    border: 1px solid #e7e7e7;
    margin-top: 30px;
}

.one-book-wrapper.full .one-book {
    padding: 20px;
    background: #f8f8f8;
}

.one-book-wrapper.full .one-book .image-wrapper{
    float: left;
    width: 25%;
    text-align: center;
}

.one-book-wrapper.full .one-book .image-wrapper img{
    width: 175px;
    height: 225px;
}

.one-book-wrapper.full .one-book .details{
    float: left;
    width: 75%;
}

.one-book-wrapper.full .one-book .details > div{
    margin-top: 15px;
}

.one-book-wrapper.full .one-book .details .categories-wrapper {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

.one-book-wrapper.full .one-book .details .title-wrapper{
    color: #1e293d;
    font-size: 24px;
    font-weight: bold;
}

.one-book-wrapper.full .one-book .details .price-wrapper{
    color: #ff851d;
    font-weight: bold;
    font-size: 18px;
}

.one-book-wrapper.full .one-book .details .authors-wrapper{
    color: #1e293d;
    font-size: 14px;
}

.one-book-wrapper.full .one-book .details .ratings-wrapper{
    margin-right: 10px;
    color: #ff851d;
    font-size: 18px;
    font-weight: bold;
}

.one-book-wrapper.full.in-cart .one-book .details .actions-wrapper .actions .remove-from-cart-btn,
.one-book-wrapper.full .one-book .details .actions-wrapper .actions .add-to-cart-btn{
    display: inline-block;
}

.one-book-wrapper.full .one-book .details .actions-wrapper .actions .remove-from-cart-btn,
.one-book-wrapper.full.in-cart .one-book .details .actions-wrapper .actions .add-to-cart-btn{
    display: none;
}

.one-book-wrapper.full .one-book .details .description-wrapper {
    text-align: justify;
}


@media (max-width: 1420px) {
    .book-container{
        width: 95%;
    }
}

@media (max-width: 950px) {
    .one-book-wrapper.full .one-book .image-wrapper{
        width: 35%;
    }

    .one-book-wrapper.full .one-book .details{
        width: 65%;
    }
}

@media (max-width: 650px) {
    .one-book-wrapper.full .one-book .image-wrapper{
        width: 100%;
    }

    .one-book-wrapper.full .one-book .details{
        width: 100%;
    }
}